<link href="~/Style/Copy.css" rel="stylesheet" />

<div>
    <table>
        <tr>
            <td class="copiar">
                <p class="txtcopy">
                    ©2019-Guerderia “BAM BAM”
                </p>
            </td>
        </tr>
    </table>
</div>
