<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <title>Inicio</title>

    <!-- Our CSS stylesheet file -->

    <link href="~/Style/Styless.css" rel="stylesheet" />
    <!-- Including the Lobster font from Google's Font Directory -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lobster" />

    <!-- Enabling HTML5 support for Internet Explorer -->
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
    <div id="header">
        <div id="logo">
            <img src="~/Images/logo.jpg" height="95px" />
        </div>
        <nav>
            <marquee VSPACE=20 WIDTH=50% SCROLLAMOUNT=15 style="font-size:55px; -webkit-text-stroke: 2px #0094ff;
            color: white; font: oblique bold 400% cursive">Guardería "BAM BAM"</marquee>
        </nav>
    </div>
    <ul id="contenido">
        <li class="inicio"><a href="~/Index.cshtml">INICIO</a></li>
        <li class="recuerdos"><a href="~/Recuerdos.cshtml">RECUERDOS</a></li>
        <li class="actividades"><a href="~/Actividades.cshtml">ACTIVIDADES</a></li>
        <li class="plantel"><a href="#">PLANTEL</a><!--<ul><li><a href="#">Docente</a></li></ul>--></li>
        <li class="informes"><a href="~/Informes.cshtml">INFORMES</a></li>
        <li class="ofrece"><a href="~/Teofrece.cshtml">TE OFRECE</a></li>
        <li class="ubicacion"><a href="~/Ubicacion.cshtml">UBICACION</a></li>
        <li class="ingresar"><a href="~/Login.cshtml">INGRESAR</a></li>
    </ul>
    <img src="~/Images/s.png" height="200"/>
</body>
</html>