<link href="~/Style/Infodir.css" rel="stylesheet" />


<div>
    <table>
        <tr>
            <td class="telefono">
                <p class="txtinfo">
                    Telefono☎<br />
                    2222222
                </p>

            </td>

            <td class="direccion">
                <p class="txtinfo">
                    Direccion🤳<br />
                    Santiago II- Calle 12- El Alto
                </p>

            </td>
        </tr>
    </table>
</div>
