<!DOCTYPE html>
<html>
<head>
    <link href="~/Style/Ofrece.css" rel="stylesheet" />
    <title>@Page.Title</title>
</head>
<body>
    <div class="ofrece" style="top:200px; height:750px">
        <img src="~/Images/ofrece.png" class="teofrece" />
    </div>
</body>
</html>