<!DOCTYPE html>
<html>
<head>
    <link href="~/Style/Recuerdos.css" rel="stylesheet" />
    <title>@Page.Title</title>
</head>
<body>
    <div id="slider">
        <ul>
            <li><img src="~/Images/recuerdo1.jpg" /></li>
            <li><img src="~/Images/recuerdo5.jpg" /></li>
            <li><img src="~/Images/recuerdo4.jpg" /></li>
        </ul>
    </div>
</body>
</html>