<!DOCTYPE html>
<html>
<head>
    <link href="~/Style/Slider.css" rel="stylesheet" />
    <title>@Page.Title</title>
</head>
    <body>
        <div id="slider">
            <ul>
                <li><img src="~/Images/imageuno.jpg" /></li>
                <li><img src="~/Images/imagedos.jpg" /></li>
                <li><img src="~/Images/imagetres.jpg" /></li>
                <li><img src="~/Images/imagecuatross.jpg" /></li>
            </ul>
        </div>
    </body>
</html>
