<link href="~/Style/Textos.css" rel="stylesheet" />


<div>
    <table>
        <tr>
            <td class="textosuno">
                <b>La Guarderia</b><br />
                <img src="~/Images/txtcuatro.jpg" style="width:200px; height:200px; border-radius:150px;
                    margin-right: 3px;  border: 2px dashed #01c8f5" /><br />

                <p>
                    Somos una Guardería ubicada en la ciudad de El Alto. En la cual tenemos una infraestructura cómoda para el
                    aprendizaje de sus niños
                </p>

            </td>

            <td class="textosdos">
                <b>Lo que hacemos</b><br />
                <img src="~/Images/txtdos.jpg" style="width:200px; height:200px; border-radius:150px;
                    margin-right: 3px;  border: 2px dashed #ffd800" /><br />

                <p>
                    Con nuestros grandes profesionales en el área, Nuestro objetivo es ver crecer niños felices, con un gran nivel
                    de aprendizaje y con una gran autoestima
                </p>

            </td>


            <td class="textostres">
                <b>Como lo hacemos</b><br />
                <img src="~/Images/txttres.jpg" style="width:200px; height:200px; border-radius:150px;
                    margin-right: 3px;  border: 2px dashed #ff0075" /><br />

                <p>
                    Lo que se hace es tener a nuestros profesionales, personal y tutores muy involucrados en el aprendizaje de su niño
                </p>

            </td>
        </tr>
    </table>
</div>


