<link href="~/Style/Web.css" rel="stylesheet" />


<div>
    <table>
        <tr>
            <td class="imagen">
                <img src="~/Images/txtcinco.jpg" style="width:100%; height:100%" /><br />

            </td>

            <td class="textoweb">
                <p class="txt">
                    Nuestra página web espera serle de gran ayuda en cuanto a información de su niño dentro la guardería
                </p><br />

            </td>


            <td class="otraimage">

                <img src="~/Images/compu.png" style="width:100%; height:100%" /><br />

            </td>
        </tr>
    </table>
</div>

