@{
    Page.Title = "Inicio";
    Layout = "~/Shared/_Layout.cshtml";
    //Layout = "~/Shared/_Slider.cshtml";


}
<div id="slider">
    @RenderPage("~/Shared/_Slider.cshtml")
</div>
<div>
    
</div>

